* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(249, 254, 243, 0.9);
}

.header{
    mix-blend-mode:difference;
    color: #f9fef3;
}


/* Ziyu Logo styles */
.logo {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    transition: all 1s ease-in-out;
}

.container {
    max-width: 100%;
    padding-top: 10rem;
    margin: 0 auto;
}

.full-width-card {
    width: 100%;
    padding-right: 1rem;
    margin-left: 0.3rem;
    padding-bottom: 1.5rem;
}

.full-width-card .card-img-top {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.full-width-card .card-body {
    padding: 20px;
}

.full-width-card .card-title {
    margin-bottom: 12px;
    font-size: 24px;
}

.full-width-card .card-text {
    color: #666;
    line-height: 1.6;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}